# Makes supported commands output things in columns, if the output is a terminal
[column]
	ui = "auto"

# Makes all commits gpg-signed by default
[commit]
	gpgSign = true

[core]
    # Respects the $EDITOR and $PAGER environment variables
	editor = "$EDITOR"
	pager = "$PAGER"

    # Proper file write sync on added and committed files
	fsync = "objects,index,commit-graph"

    # Makes git case-insensetive and protects NTFS for NTFS compatability
	ignoreCase = true
	protectNTFS = true

[diff]
    # Slower but better diff algorithm
	algorithm = "minimal"

    # Generate 5 lines of context instead of 3
	context = "5"

    # Uses nvimdiff as the default diff tool
    tool = "nvimdiff"

    # Use meld as the GUI diff tool
	guitool = "meld"

    # Show context between diff hunks, makes git fuse hunks that are close by
	interHunkContext = "5"

    # Increase rename detection file limit
	renameLimit = 100000

# Makes fetch write to the commit graph properly
[fetch]
	writeCommitGraph = true

[gc]
    # Makes the amount of possible files gc compares against for delta compression higher
	aggressiveWindow = 1000

    # Stops autogc from triggering
	auto = 0

    # Disables pruning unreachable objects
	pruneExpire = "never"

# Rename default branch to main
[init]
	defaultBranch = "main"

[log]
    # Stops git from abbreviating commits by default
	abbrevCommit = false

    # Gives dates in a more sensible format
	date = "format:%F %T"

    # Enables short ref names in terminal, disables them elsewhere
	decorate = "auto"

# Respects the $PAGER environment variable for manpages
[man]
	viewer = "$PAGER"

[merge]
    # Disables merge fast-forwarding, so git creates a merge commit for those
	ff = false

    # Adds merge logs
	log = true

    # Because git treats directory renames as file renames
	renameLimit = 100000

    # Renormalize the merged data to prevent unnecessary conflicts
	renormalize = true

[pack]
    # Disables packfile reuse, since it results in larger packs
	allowPackReuse = false

    # Increases the max size of an object in delta cache
	deltaCacheLimit = 65535

    # Increases delta cache size from 256MiB, for some reason set in bytes
	deltaCacheSize = 2147483647

    # Sets the maximum number of threads for delta searching
    # Limited to 6, as each thread gets its own memory pool.
	threads = 6

    # Default window size used by git-pack-objects
    # Basically, how many objects to compare against to find delta compression
	window = 250

# Disables pull fast-forwarding, so git creates a pull commit for those
[pull]
	ff = false

# Allow this many fetch jobs for submodules in parallel
[submodule]
	fetchJobs = 12

# User info for git
[user]
	email = "eero.lampela@gmail.com"
	name = "Eero Lampela"
	signingKey = "214155AB1DF262A0"
    